.sidebar {
    color: aliceblue;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #040404;
    padding-top: 1%;
    text-align: center;
}

.sidebar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5%;
    text-decoration: none;
    font-size: 180%;
    color: white;
    display: block;
}

body {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.band-icon {
    width: 100%;
    height: 100%;
}

.titulo {
    font-size: xx-large;
    text-align: left;
    margin-top: 2.5%;
    margin-left: 12%;
}

.informacion {
    margin-right: 25%;
    text-align: left;
    margin-top: 2%;
    margin-left: 12%;
}

.canciones {
    margin-right: 25%;
    text-align: left;
    margin-top: 2%;
    margin-left: 12%;
}

ol {
    list-style: none;
    padding: 0;
}


li {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

li img {
    width: 30px;
    margin-right: 10px;
}