body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {

    width: 400px;
    margin: auto;
    border: 2px solid rgb(70, 49, 70);
    background-color: rgb(185, 182, 190);
    padding: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container button {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(26, 7, 26);
    border-color: rgb(142, 137, 142);
    color: white;
}

h3 {
    text-align: center;
}
